a{
    text-decoration: none;
}
.logo{
    width: 150px;
    height: 150px;
}
.striker{
    display: inline-block;
    object-fit: cover; 
}
img{
    width: 270px;
}
.mekare{
    display: block;
}
span{
    font-family: 'ALK ';
    font-size: 20px;
    margin-left: 90px;
}











 


 

 

 
 
 
 

 
 
  
   
    
     
      
       
        
         
          
           
            
             
              
               
                
                 
                  
                   
                    
                     
                      
                       
                        
                         



